.st-emotion-cache-13k62yr{
    /* background: url('my-background.png'); */
    background-image: url("https://i.pinimg.com/736x/1a/ee/5c/1aee5c344846f449350feae457ea350e.jpg");
    background-size: cover;
}
.st-emotion-cache-k7vsyb span {
    scroll-margin-top: 2rem;
    color: #2c7c74;
}
.st-emotion-cache-q8sbsg p {
    word-break: break-word;
    color: black;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 14px;
}
.st-emotion-cache-k7vsyb span{
    color: black;
}

.st-emotion-cache-19rxjzo{
    background-color: rgb(20 84 36);
    color: white;
}

.st-emotion-cache-13k62yr {
    color: rgb(0, 0, 0);

}
