.st-emotion-cache-13k62yr{
    /* background: url('my-background.png'); */
    /* background-image: url("https://www.meitra.com/public/upload_file/62d00031ece641657798705.jpg"); */
    background-size: cover;
    /* background:linear-gradient(45deg,#2a37bd,#00d5ff,#ffffff); */
    background-clip: url('https://media.istockphoto.com/id/1714953226/video/tablet-smile-and-doctor-search-social-media-joke-or-funny-online-internet-or-web-meme-in-a.mp4?s=mp4-640x640-is&k=20&c=2Dq0f7ze3cDO1m2DvfL3L0wbssm6OrlGhFnXkYJgMUU=');

}
.st-emotion-cache-k7vsyb span {
    scroll-margin-top: 2rem;
    color: #1d1d9d;
}
.st-emotion-cache-q8sbsg p {
    word-break: break-word;
    color: black;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 14px;
}

.st-emotion-cache-1l4firl{
    color: black;
    font-weight: bolder;
    font-size: 17px;
}
.st-emotion-cache-nahz7x p {
    color: black;
    font-weight: bolder;
    font-size: 17px;
}